.logo{
    margin-left: 15%; margin-right: 20%;
 

}
.navbar-default .navbar-nav>li>a {
    color: #fff!important;
}   
.bg{
    background-color:#008cc7;
   
}
.content{
    margin-top: 5%;
}
li{
    font-family: verdana!important;
    font-size: 16px;
}
.md-select-value {
color: #fff;
}

.right{
float: right;  vertical-align: middle;

}
.image_gallery{
    width:280px;
    height: 230px;
    margin-right: 2%;
    margin-bottom: 2%;
}
.left{

float: left;
height: 550px;

}
.content{

    font-family: Roboto;

}
.mt2{
    margin-top: 2%;
}
.mt3{
    margin-top: 3%!important;
}
.mb3{
    margin-bottom: 3%!important;
}
.fr{
    float: right;
}

.center{
text-align: center;
}
.aboutme{
    font-size: 24px; color: #008cc8;
}
.ceo{
    width: 50%;height: 25%;
    float: right;


}
.justify{
    text-align: justify;
    margin: auto;
    font-size: 13px;
    line-height: 24px;
}
p{
    color: #787878;

}
/*.container{*/
    /*bottom:50px;*/
    /*height: 80% !important;*/
    /*margin-bottom: 50px;*/
/*}*/
.footer{
    width: 100%;
    top:725px;bottom:0;position:fixed;
    background-color: #333333;
    color: #fff;
}


 .main{
     padding-bottom:70px;
     bottom: 90px !important;
 }
 .text-center{
     text-align: center;
     padding-top:150px;
     padding-left:50px;
 }
.float-right{
    margin-left: 50%;
    position: relative;
}

.img-gallery{
    width: 100%;
    height: 60%;
}
.ml50{
    margin-left: 57%
}

