

<div class="content">

<div class="row-fluid">
<div class="col-md-4  ">

<img class="ceo" src="./img/CEO-Photo.png">
</div>
<div class="col-md-8">
    <span class="aboutme"> {{"ABOUT_PAGE.ABOUT_TITLE" | translate}}</span>
<p  class="justify">{{"ABOUT_PAGE.ABOUT_CONTENT" | translate}}</p>
</div>
</div>


    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12">
            <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6">
                <img class="" src="./img/Home.png">
            </div>
            <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 text-center">
                <span class="aboutme"> {{"ABOUT_PAGE.ABOUT_TITLE2" | translate}}</span>
                <p  class="justify">{{"ABOUT_PAGE.ABOUT_CONTENT2" | translate}}</div>
        </div>
    </div>

</div>